<template name="navbar">
    <nav class="navbar navbar-default navbar-fixed-left">
        <div class="navbar-header">
            <a href="#"><img src="/images/Logo.png"/></a>
        </div>
        <ul class="nav navbar-nav">
            <li id="myPlan" class="active"><a href="/myPlan"><span><img src="/images/folder.png" width="30"/></span>&nbsp;&nbsp;My
                Plan</a></li>
            <li id="newPlan"><a href="/newPlan"><span><img src="/images/write.png" width="30"/></span>&nbsp;&nbsp;Create
                New Plan</a></li>
            <li id="setting"><a href="/setting"><span><img src="/images/setting.png" width="30"/></span>&nbsp;&nbsp;Setting</a>
            </li>
            <br/><br/>
            <li id="login">{{> loginButtons right}}</li>
        </ul>
    </nav>
</template>
