
#box{
    margin:5px 10px 5px 10px;
    // pading:50px;
    //border:2px solid;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: #82CAFF;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile:focus + label,
.inputfile-1.has-focus + label,
.inputfile + label:hover {
    background-color: maroon;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

label{
    margin:0px 20px 0px 10px;
    padding:5px;
    border-radius: 10px;
}

#submitFile
{
    float:right;
    margin-top: 10px;
    margin-bottom: 5px;
    // border:2px solid;
}

.savePlanform{
    border-radius: 10px;
    position: relative;
    margin: 10px 80px 10px 80px;
    padding: 5px;
    background-color: #f5fdf7;
    box-shadow: 0 0 20px 5px #909096;

}

#venuePlan h3{
    display:block;
    border-bottom: 2px dotted;
    padding-left:30px;
    color:#0033cc;
}

#venuePlan {
    margin:50px;
   //border:2px solid;
   border-radius: 10px;
   box-shadow: 0 0 20px 5px #84abbd;
   padding-bottom:50px;
   background: url(../images/floorplan.jpg);
   background-size: 100%;

}

#savePlanlist{
   margin:5px 60px 80px 60px;

}
.buttonSave
{
  
    //box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 20px;
    margin:10px;
    background-color: #fffad4;
     // background: url(../images/floorplan.jpg);
     // background-size: 100%;
    height: 50px;   
    color : #3575f1;
    font-size: 18px;
     
}

.buttonSave:hover
{
    box-shadow: 0 0 20px 5px #ff6666;

}
