body {
    font-family: 'Archivo+Narrow', sans-serif;
    background-color: #fffdef;

}

#container {

    width: 100%;
    max-width: 100%;
}

.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}

header {
    position: fixed;
    height: 100%;
    max-width: 210px;
    background-color: #ffffff;

}

#body {
    position: absolute;
    margin-left: 210px;
    width: 83%;
    height: 100%;
    border: 2px solid;
    z-index: -9;
}

#venue {
    padding: 15px 150px 25px 150px;
}

#venue button {
    margin: 15px 0px 25px 0px;
}

#buttonWrap {
    position: relative;
}

button div {
    font-size: 18px;
    /*visibility: hidden;*/
}

.venueName {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

/*button:hover > p {
    visibility: visible;
}*/
.btn-default {
    color: #0000A0;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
    color: black;
}

h1 {
    text-align: center;
    color: #0727f7;
    border-bottom: 2px solid black;
}

h2 {
    text-align: left;
    color: #0727f7;
}

#next {
    padding-left: 70%;
    margin-bottom: 10px;

}

h3, p {
    display: inline;
}

#numOfStu {
    border-bottom: 2px solid;
    padding-top: 5px;
    padding-left: 70%;
    font-size: 25px;
}

.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: red;
}

.form-group {
    min-width: 300px;
    text-align: left;
    clear: both;
}

.btncls {
    display: block;
    margin-left: 90%;
    height: 60px;
    width: 61px;
    background: none;
    border: none;
}

.btncls2 {
    display: block;
    margin-left: 40%;
    height: 60px;
    width: 61px;
}

.navbar {
    max-width: 205px;
    margin-right: 0;
    margin-left: 0;
    font-size: 20px;
    background-color: #ffffff;
}

.navbar-header {
    border-bottom: thin solid #000000;
}

.navbar-fixed-left .navbar-nav > li, .navbar-header {
    float: none;
    width: 200px;
}

.navbar-fixed-left {
    position: fixed;
    border-right: thick solid #000000;
    height: 100%;

}

.active a {
    background-color: #ffff99 !important;
}

.hiddenHR {
    visibility: hidden;
}

#optionButton {
    margin-left: 60%;

}

#optionButton button {
    margin: 0;
    margin-left: 10px;
    display: inline-block;
    border: 2px solid;
}

.form-horizontal {
    border: 5px solid;
    border-radius: 10px;
    position: relative;
    margin: 50px;
    padding: 20px;
    background-color: #ecf7ff;
    box-shadow: 10px 10px 5px #888888;
}